h1{
    color: blueviolet;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
}
button{
    margin-left: 47%;
    border-width: 4px;
    border-radius: 10px;
    font-size: 30px;
}
button:hover{
    font-size: 35px;
    margin-left: 46%;
    color: rgb(200, 0, 255);
    background-color: black;
    border-color: red;
}
div{
    margin-top: 10%;
    text-align: center;
    font-size: 30px;
}
a{
    text-decoration: none;
}
a:visited{
    color: blueviolet;
}
a:active{
    color: rgb(255, 0, 0);
    font-size: 35px;
}